* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ECECEC;
    font-family: "Open Sans", "Helvetica Neue";

}

li, a {
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    font-style: italic;
}

header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
}

.Header-name {
    cursor: pointer;
    font-size: 25px;
    color: #edf0f1;
    font-style: italic;
    font-family: "Open Sans", "Helvetica Neue";
}

.nav_links ul {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    margin-right: 20px;
}

.nav_links li a:hover{
    color: #0066ff;
    font-weight: bold;
}

.nav_links li a {
    transition: all 0.5s ease 0s;
}


/* footer */
.footer {
    position : fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #edf0f1;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 2%;
}

.footer_links ul{
   text-decoration: none;

}
.footer_links li{
    display: inline-block;
    margin-right: 20px
}
.footer_links li a {
    transition: all 0.5s ease 0s;
}
.footer_links li a:hover{
     color: #0066ff;
     font-weight: bold;
}

.footer_links ul li a img {
    width: 40px;
    height: auto;
}

.Made_from {
    font-size: 30px;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    padding-right: 15px;
    font-family: "Open Sans", "Helvetica Neue";
}
.Made_from span{
    color: #FFDB0F;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    margin: 0px;
    width: 40px;
    height: auto;
    cursor: pointer;
}

.footer-content {
    display: flex;
    align-items: center;

}


/* Home page */
.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 70px);
    margin: 2.5%;
    font-family: "Open Sans", "Helvetica Neue";
}

.centered-content h1 {
    font-size: 60px;
    color: #000000;
    font-style: italic;
}

.centered-content h2 {
    font-size: 30px;
    color: #000000;
    font-style: italic;
}

.Main-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-logo img{
    margin: 0 20px;
    width: 100px;
    height: auto;
}
.Main-logo img:hover{
    pointer
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    margin: 0 20px;
    width: 50px;
    height: auto;
}

.centered-content p {
    font-size: 20px;
    padding-bottom: 10px;
}

.centered-content p span {
font-weight: bold;
}
.centered-content p a{
    color: #000000;
    font-weight: bold;
}
.centered-content p a{
    transition: all 0.5s ease 0s;
}
.centered-content p a:hover{
     color: #0066ff;
     font-weight: bold;
     text-decoration: underline;
}
.Highlights {
    padding-top: 20px;
}

.highlights-heading {
    text-align: center;
    padding-bottom: 10px;
}

.projects {
    list-style: none;
    text-align: center;
}

ul.projects {
    color: #000000;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

ul.projects li {
    list-style: none;
}

ul.projects li {
    color: #000000;
}

ul.projects li a{
      color: #000000;
}


ul.projects li span a{
      color: #000000;
      font-weight: bold;
}

ul.projects li a {
    transition: all 0.5s ease 0s;
}
ul.projects li a:hover{
     color: #0066ff;
     font-weight: bold;
     text-decoration: underline;
}

/* About page */

.main {
  margin: 0 auto;
  font-family: "Open Sans", "Helvetica Neue";
}

.main--about {
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
  line-height: 150%;
  color: #000000;
  width: 90%;
  min-height: calc(100vh - 100px);

}

.section-heading {
  text-align: left;
  font-style: italic;
  padding-bottom: 10px;
}

ul.Skills {
    color: #000000;
    padding-left: 30px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}

ul.Skills li {
    color: #000000;
}

p {
    font-size: 18px;
    padding-bottom: 10px;
}

p span {
font-weight: bold;
}

/* Tech Stack */
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
}

/* Project pages */
.projects_container {
    margin: 0 auto;
    font-family: "Open Sans", "Helvetica Neue";
}
.project-header {
    font-size: 60px;
    text-align: center;
    margin-top:1%;
    font-style: italic;
}
.project-main {
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
  line-height: 150%;
  color: #000000;
  width: 90%;
  min-height: calc(100vh - 100px);
}

.project_headings {
    padding-bottom: 20px;
}
.project_headings h2 {
    padding-bottom: 10px;
}
.projects_container a {
    color: #000000;
}
.Head {
    font-weight: bold;
    font-size: 20px;
}

.projects_container  a {
    transition: all 0.5s ease 0s;
}
.projects_container a:hover{
     color: #0066ff;
     font-weight: bold;
     text-decoration: underline;
}

/* Contact me */

/* Style for the Contact Me section */
.Contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px);
    padding-bottom: 100px;
}

/* Style for the form */
.Contact-me form {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #000; /* Black border for the form */
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Style for labels */
.Contact-me label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: "Open Sans", "Helvetica Neue";
    font-style: italic;
}

/* Style for the heading */
.Contact-me h1 {
  text-align: center;
  padding-top: 50px;
  font-style: italic;
}

/* Style for inputs */
.Contact-me input,
.Contact-me textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #000;
}

/* Style for the Submit button */
.Contact-me input[type="submit"] {
    background-color: #ffff00;
    color: #000000;
    cursor: pointer;
    font-size: 15px;
    font-style: italic;
}

.Contact-me input[type="submit"]:hover {
    background-color: #ffff33;
}

/* Adjust the footer for smaller screens */
@media (max-width: 600px) {
  .main--about {
    padding-bottom: 100px;
  }
  .centered-content {
    padding-bottom: 100px;
  }
  .Highlights {
    padding-bottom: 100px;
  }
  .projects_container{
    padding-bottom: 100px;
  }

  .Contact-me{
    padding-bottom: 100px;
  }
}

@media (max-width: 1200px) {
  .main--about {
    padding-bottom: 100px;
  }
  .centered-content {
    padding-bottom: 100px;
  }
  .Highlights {
    padding-bottom: 100px;
  }
  .projects_container{
    padding-bottom: 100px;
  }
  .Contact-me{
    padding-bottom: 100px;
  }
}



/* Adjust the footer for smaller screens */
@media (max-width: 160px) {
  .main--about,
  .centered-content,
  .Highlights {
    padding-bottom: 70px;
  }

  .footer_links ul li a img {
    width: 10px;
    height: auto;
  }

  .logo img {
    margin: 0px;
    width: 10px;
    height: auto;
    cursor: pointer;
  }

  .Made_from {
    font-size: 8px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    padding-right: 15px;
  }

  .projects_container{
    padding-bottom: 70px;
  }
  .Contact-me{
    padding-bottom: 150px;
  }

}


