{% extends 'Base.html' %}
{% block content %}
<title>About</title>
<main class="main main--about">
    <section class="section">
        <h1 class="section-heading">Education</h1>
        <p>
            Hey there! My name is Huzaifa Sabah Uddin, but you can call me Hexz.
            I'm a 2nd Year software engineering student at the University of Leicester.
        </p>
    </section>

    <section class="section">
        <h1 class="section-heading">Tech Stack</h1>
        <div class="tech-stack">
             <img src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white"
             style="float:right;" alt="Java">
            <img src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54"
                 alt="Python">
            <img src="https://img.shields.io/badge/Flask-%23000.svg?style=for-the-badge&logo=flask&logoColor=white"
                 alt="Flask">
            <img src="https://img.shields.io/badge/pandas-%23150458.svg?style=for-the-badge&logo=pandas&logoColor=white"
                 alt="Pandas">
            <img src="https://img.shields.io/badge/numpy-%23013243.svg?style=for-the-badge&logo=numpy&logoColor=white"
                 alt="NumPy">
            <img src="https://img.shields.io/badge/Git-fc6d26?style=for-the-badge&logo=git&logoColor=white" alt="GIT">
            <img src="https://img.shields.io/badge/sqlite-%2307405e.svg?style=for-the-badge&logo=sqlite&logoColor=white"
                 alt="SQLite">
        </div>
    </section>

    <section class="section">
        <h1 class="section-heading">Skills</h1>
        <ul class="Skills">
            <li>Test1</li>
            <li>Test2</li>
            <li>Test3</li>
            <li>Test14</li>
        </ul>
    </section>

    <section class="section">
        <h1 class="section-heading">Hobbies and Interests</h1>
        <!-- Add your hobbies and interests content here -->
    </section>
</main>
{% endblock %}
