{% extends 'Base.html' %}
{% block content %}
<title>About</title>
<main class="main main--about">
    <section class="section">
        <h1 class="section-heading">Education</h1>
        <p>
           My educational journey has been marked by a commitment to academic excellence. I completed my GCSEs and A-levels in <span>Karachi, Pakistan</span>, which provided a strong foundation for my future studies. Currently, I am furthering my education at the <span>University of Leicester</span>, where I am pursuing a Bachelor's degree in Software Engineering with an expected graduation year of 2025. This program has equipped me with essential technical skills and knowledge in the field of software engineering, a subject that I'm deeply passionate about. My time at the university has not only honed my academic abilities but has also instilled a drive for continuous learning and a desire to excel in the ever-evolving world of technology.

        </p>
    </section>

    <section class="section">
        <h1 class="section-heading">Tech Stack</h1>
        <div class="tech-stack">
             <a href="https://www.java.com/">
    <img src="https://img.shields.io/badge/java-%23ED8B00.svg?style=for-the-badge&logo=openjdk&logoColor=white" alt="Java">
</a>
<a href="https://spring.io/">
    <img src="https://img.shields.io/badge/Spring-%236DB33F.svg?style=for-the-badge&logo=spring&logoColor=white" alt="Spring">
</a>
<a href="https://www.python.org/">
    <img src="https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54" alt="Python">
</a>
<a href="https://flask.palletsprojects.com/en/2.1.x/">
    <img src="https://img.shields.io/badge/Flask-%23000.svg?style=for-the-badge&logo=flask&logoColor=white" alt="Flask">
</a>
<a href="https://pandas.pydata.org/">
    <img src="https://img.shields.io/badge/pandas-%23150458.svg?style=for-the-badge&logo=pandas&logoColor=white" alt="Pandas">
</a>
<a href="https://numpy.org/">
    <img src="https://img.shields.io/badge/numpy-%23013243.svg?style=for-the-badge&logo=numpy&logoColor=white" alt="NumPy">
</a>
<a href="https://matplotlib.org/">
    <img src="https://img.shields.io/badge/Matplotlib-%23ffffff.svg?style=for-the-badge&logo=Matplotlib&logoColor=black" alt="Matplotlib">
</a>
<a href="https://www.sqlite.org/">
    <img src="https://img.shields.io/badge/sqlite-%2307405e.svg?style=for-the-badge&logo=sqlite&logoColor=white" alt="SQLite">
</a>
<a href="https://www.mysql.com/">
    <img src="https://img.shields.io/badge/MySQL-%2300f.svg?style=for-the-badge&logo=mysql&logoColor=white" alt="MySQL">
</a>
<a href="https://developer.mozilla.org/en-US/docs/Web/HTML">
    <img src="https://img.shields.io/badge/html5-%23E34F26.svg?style=for-the-badge&logo=html5&logoColor=white" alt="HTML5">
</a>
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS">
    <img src="https://img.shields.io/badge/CSS-%231572B6.svg?style=for-the-badge&logo=css3&logoColor=white" alt="CSS">
</a>
<a href="https://git-scm.com/">
    <img src="https://img.shields.io/badge/Git-fc6d26?style=for-the-badge&logo=git&logoColor=white" alt="Git">
</a>
<a href="https://docs.microsoft.com/en-us/powershell/">
    <img src="https://img.shields.io/badge/PowerShell-%235391FE.svg?style=for-the-badge&logo=powershell&logoColor=white" alt="PowerShell">
</a>
<a href="https://aka.ms/terminal">
    <img src="https://img.shields.io/badge/Windows%20Terminal-%234D4D4D.svg?style=for-the-badge&logo=windows-terminal&logoColor=white" alt="Windows Terminal">
</a>
<a href="https://www.linux.org/">
    <img src="https://img.shields.io/badge/Linux-FCC624?style=for-the-badge&logo=linux&logoColor=black" alt="Linux">
</a>
<a href="https://www.canva.com/">
    <img src="https://img.shields.io/badge/Canva-%2300C4CC.svg?style=for-the-badge&logo=Canva&logoColor=white" alt="Canva">
</a>
        </div>
    </section>

    <section class="section">
        <h1 class="section-heading">Skills</h1>
        <ul class="Skills">
            <li>Problem Solving</li>
            <li>Leadership</li>
            <li>Teamwork</li>
            <li>Effective communication</li>
            <li>Effective communication</li>
        </ul>
    </section>

    <section class="section">
        <h1 class="section-heading">Hobbies and Interests</h1>
        <p>
            Beyond my academic pursuits, I have a rich tapestry of <span>hobbies and interests</span> that bring joy and balance to my life. Gaming is not just a pastime but a realm of exploration, strategy, and immersion. Cooking, on the other hand, is my culinary canvas, allowing me to experiment with flavors and create delightful dishes. Football, the world's most beautiful game, serves as a constant source of exhilaration and camaraderie. These passions intertwine with my love for coding, which I have been dedicated to since 2020. Coding has been more than just a skill; it's a creative outlet and a gateway to infinite possibilities.
            <span>My interests</span> expand beyond the realm of hobbies. I have a deep fascination with data analysis and machine learning, where I revel in the art of deciphering patterns and deriving insights from complex datasets. <span>Python</span>, my programming weapon of choice, enables me to harness the power of automation, data manipulation, and application development. These interests converge in the world of technology, where I aspire to make a meaningful impact through my work and contribute to the ever-evolving landscape of software development and data science.
        </p>
    </section>
</main>
{% endblock %}
