<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/project.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='python.png') }}" type="image/x-icon" sizes="32x32">
    <link rel="shortcut icon" href="{{ url_for('static', filename='python.png') }}" type="image/x-icon" sizes="32x32">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<header>
    <div class="Header-name">Huzaifa Sabah Uddin</div>
    <nav class="nav_links">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('project') }}">Projects</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </nav>
</header>
{% block content %}{% endblock %}
<footer class="footer">
    <nav class="footer_links">
        <ul>
            <li><a href="https://github.com/Iamhuzaifasabahuddin">
                <img src="{{ url_for('static', filename='images/github.png') }}" alt="GitHub">
            </a></li>
            <li><a href="mailto:huzaifasabah@gmail.com">
                <img src="{{ url_for('static', filename='images/Email.png') }}" alt="Email">
            </a></li>
            <li><a href="https://www.linkedin.com/in/huzaifa-sabah-uddin/">
                <img src="{{ url_for('static', filename='images/Linkedin.png') }}" alt="Linked in">
            </a></li>
        </ul>
    </nav>
    <div class="footer-content">
        <h2 class="Made_from">
            Created By
        </h2>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/HSLOGO.png') }}" alt="HS">
        </div>
    </div>
</footer>


</body>
</html>
