{% extends 'Base.html' %}
{% block content %}

<title>Home</title>

<div class="container">
    <div class="centered-content">
        <h1 class="Homepage homepage--heading">Welcome to My Portfolio</h1>
        <div class="Main-logo">
            <img src="{{ url_for('static', filename='images/HSLOGO.png') }}" alt="HS">
        </div>
        <br/>
        <h2>
            This is my personal portfolio page powered by:
        </h2>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/python.png') }}" alt="Python">
            <img src="{{ url_for('static', filename='images/flask.png') }}" alt="Flask">
        </div>
        <br/>
        <p>
            Hello, I'm <span>Huzaifa Sabah Uddin</span>, though you can simply call me Hexz. I'm truly passionate about coding, as it offers a unique platform for creativity, invention, and automation. For me, the world of programming is a canvas where I can craft solutions to real-world challenges and bring ideas to life. I have a particular fondness for Python and its diverse frameworks, appreciating their power and versatility. Currently, I'm a dedicated second-year student pursuing a Bachelor of Science in Software Engineering at the <span>University of Leicester</span>. I'm excited to be on this journey of continuous learning and innovation as I explore the ever-evolving landscape of technology and software development.
        </p>

        <div class="Highlights">
            <h2>Project Highlights</h2>
            <ul class="projects">
                <li><a href="https://github.com/Iamhuzaifasabahuddin/Python-Personal-Projects/blob/main/ExpenseGUI.py">Expense manager</a></li>
                <li><a href="https://github.com/Iamhuzaifasabahuddin/Python-Personal-Projects/blob/main/PasswordmanGUI.py">Password manager</a></li>
                <li><a href="https://github.com/Iamhuzaifasabahuddin/Python-Personal-Projects/blob/main/PasswordmanGUI.py">Password manager</a></li>
                <li><a href="https://github.com/Iamhuzaifasabahuddin/Python-Personal-Projects/blob/main/PasswordmanGUI.py">Password manager</a></li>
                <li><a href="https://github.com/Iamhuzaifasabahuddin/Python-Personal-Projects/blob/main/PasswordmanGUI.py">Password manager</a></li>

            </ul>

        </div>
    </div>
</div>

{% endblock %}
