{% extends 'Base.html' %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<h1 class="project-header">Welcome To My Project Page</h1>
<main class="projects_container project-main">
    <section class="project_headings">
        <a href="https://github.com/Iamhuzaifasabahuddin/Python-Personal-Projects/blob/main/ExpenseGUI.py" target="_blank"> <h2 class="project-heading">Expense Manager</h2></a>
        <p>I've created a robust Password Manager using Python, which combines essential features for securely storing and managing your passwords. This application employs a <span>SQLite</span> database for efficient and secure password storage. The standout feature is the seamless integration of <span>Google Drive</span>, allowing you to upload and back up your password data to the cloud for added security and accessibility.
            Some key libraries and technologies used in this project include:
            - <span>Logging</span>: for effective error tracking and debugging.
            - <span>Tkinter</span>: for building a user-friendly graphical interface.
            - <span>SQLite</span>: for maintaining a reliable database for password storage.
            - <span>Google Drive API</span>: for secure cloud backup and synchronization.
        </p>
    </section>
    <section class="project_headings">
        <a href="https://github.com/Iamhuzaifasabahuddin/Python-Personal-Projects/blob/main/PasswordmanGUI.py" target="_blank"><h2 class="project-heading">Password Manager</h2></a>
        <p>I've created a robust Password Manager using Python, which combines essential features for securely storing and managing your passwords. This application employs a <span>SQLite</span> database for efficient and secure password storage. The standout feature is the seamless integration of <span>Google Drive</span>, allowing you to upload and back up your password data to the cloud for added security and accessibility.
            Some key libraries and technologies used in this project include:

            - <span>Logging</span>: for effective error tracking and debugging.
            - <span>Tkinter</span>: for building a user-friendly graphical interface.
            - <span>SQLite</span>: for maintaining a reliable database for password storage.
            - <span>Google Drive API</span>: for secure cloud backup and synchronization.
            This Password Manager provides a simple yet effective solution to help you manage your passwords securely and conveniently.</p>
    </section>
</main>


</html>

{% endblock %}