{% extends 'Base.html' %}
{% block content %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<h1 class="project-header">Welcome To My Project Page</h1>
<main class="projects_container project-main">
    <section id="Expense_Manager" class="project_headings">
        <a href="https://github.com/Iamhuzaifasabahuddin/Python-Personal-Projects/blob/main/ExpenseGUI.py"
           target="_blank">
            <h2 class="project-heading">Expense Manager</h2>
        </a>
        <p>I've developed a robust Expense Manager using Python, providing essential features for efficiently tracking
            and managing expenses. This application stands out for its user-friendly interface and effective integration
            of technologies and libraries, offering a seamless solution for expense management.
            <br/>
            <br/>
            <span class="Head">Key Features:</span>
            <br/>
            - <span>Expense Tracking</span>: Enables users to securely track and manage their expenses.
            - <span>User-friendly Interface</span>: Built with <span>Tkinter</span>, offering a user-friendly graphical
            interface for easy navigation and interaction.
            - <span>Data Security</span>: Employs an <span>SQLite</span> database for efficient and secure storage of
            expense data.
            - <span>Cloud Backup</span>: Seamless integration of the <span>Google Drive API</span>, allowing users to
            upload and back up expense data to the cloud for added security and accessibility.
            - <span>Error Tracking</span>: Implements <span>Logging</span> for effective error tracking and debugging.
            <br/>
            <br/>
            <span class="Head">Technologies and Tools Used:</span>
            <br/>
            - <span>Python</span>: Leveraging the versatility of Python for application development.
            - <span>Tkinter</span>: Creating a user-friendly graphical interface.
            - <span>SQLite</span>: Maintaining a reliable and secure database for expense data storage.
            - <span>Google Drive API</span>: Enabling secure cloud backup and synchronization.
            - <span>Logging</span>: Ensuring effective error tracking and debugging.
            This Expense Manager provides a simple yet powerful solution, addressing the need for efficient expense
            tracking
            with added security features. The integration of cloud backup enhances accessibility and data security for
            users.
        </p>
    </section>

    <section id="Password_Manager" class="project_headings">
        <a href="https://github.com/Iamhuzaifasabahuddin/Python-Personal-Projects/blob/main/PasswordmanGUI.py"
           target="_blank">
            <h2 class="project-heading">Password Manager</h2>
        </a>
        <p>
            I've developed a robust Password Manager using Python, offering essential features for securely storing and
            managing passwords. This application stands out for its seamless integration of technologies and libraries,
            providing a secure and convenient solution for password management.
            <br/>
            <br/>
            <span class="Head">Key Features:</span>
            <br/>
            - <span>Secure Password Storage</span>: Utilizes an <span>SQLite</span> database for efficient and secure
            password storage.
            - <span>Cloud Backup</span>: Standout feature with seamless integration of the <span>Google Drive API</span>,
            allowing users to upload and back up password data to the cloud for added security and accessibility.
            - <span>User-friendly Interface</span>: Built with <span>Tkinter</span>, offering a user-friendly graphical
            interface for easy navigation and interaction.
            - <span>Error Tracking</span>: Implements <span>Logging</span> for effective error tracking and debugging.
            <br/>
            <br/>
            <span class="Head">Technologies and Tools Used:</span>
            <br/>
            - <span>Python</span>: Leveraging the versatility of Python for application development.
            - <span>SQLite</span>: Maintaining a reliable and secure database for password storage.
            - <span>Google Drive API</span>: Enabling secure cloud backup and synchronization.
            - <span>Tkinter</span>: Creating a user-friendly graphical interface.
            - <span>Logging</span>: Ensuring effective error tracking and debugging.

            This Password Manager provides a simple yet powerful solution, addressing the need for secure and convenient
            password management. The integration of cloud backup adds an extra layer of security and accessibility for
            users.
        </p>
    </section>

    <section id="Task_Manager" class="project_headings">
        <a href="https://github.com/Iamhuzaifasabahuddin/Taskmanager" target="_blank"><h2 class="project-heading">Task
            Manager</h2></a>
        <p>I've developed a comprehensive Task Manager using Java Spring Boot, incorporating JPA annotations to
            seamlessly interact with the database. This application offers essential features for efficiently organizing
            and managing tasks. The underlying database, powered by JPA, ensures secure and reliable storage of
            task-related information.
            <br/>
            <br/>
            <span class="Head">Key Features:</span>
            <br/>
            - <span>Task Organization</span>: Intuitive features for categorizing and organizing tasks efficiently.
            - <span>Data Persistence</span>: Leveraging JPA annotations for seamless integration with the database,
            ensuring data consistency.
            - <span>User-Friendly Interface</span>: Built using Spring Boot and designed for a smooth user experience.
            - <span>Deployment on Railway</span>: The application is deployed on the Railway platform, providing a
            reliable and scalable hosting solution.
            <br/>
            <br/>
            <span class="Head">Technologies and Tools Used:</span>
            <br/>
            - <span>Python</span>: Leveraging the versatility of Python for bot development.
            - <span>Discord API</span>: Ensuring smooth communication and integration with Discord servers.
            - <span>Edamam API</span>: Fetching a diverse range of recipes for users to explore.

            This Task Manager provides an efficient and user-friendly solution for organizing tasks, leveraging the
            robustness of Java Spring Boot and the convenience of Railway for deployment.</p>
    </section>

    <section id="Discord_Bot" class="project_headings">
        <a href="https://github.com/Iamhuzaifasabahuddin/Bot" target="_blank">
            <h2 class="project-heading">Python Discord Bot with Fun Features</h2>
        </a>
        <p>
            I've crafted an engaging Discord bot using Python, equipped with exciting features to add a touch of fun and
            utility to your server. This bot seamlessly integrates with the Discord platform and comes with the
            following entertaining functionalities:

            - <span>Recipe Fetching</span>: Utilizing the Edamam API to fetch recipes, providing users with a wide array
            of culinary inspirations.
            - <span>Random Number Generation</span>: Offering a fun twist with the ability to generate random numbers on
            demand.
            <br/>
            <br/>
            <span class="Head">Key Features:</span>
            <br/>
            - <span>Discord API Integration</span>: Harnessing the power of the Discord API for seamless interaction
            with servers.
            - <span>Recipe Inspiration</span>: Enabling users to discover and share exciting recipes directly within the
            Discord environment.
            - <span>Random Number Fun</span>: A playful feature that generates random numbers, perfect for games and
            decision-making.
            <br/>
            <br/>
            <span class="Head">Technologies and Tools Used:</span>
            <br/>
            - <span>Python</span>: Leveraging the versatility of Python for bot development.
            - <span>Discord API</span>: Ensuring smooth communication and integration with Discord servers.
            - <span>Edamam API</span>: Fetching a diverse range of recipes for users to explore.
            - <span>Railway</span>: Deployed using Railway for a hassle-free and efficient deployment process.

            Whether you're seeking culinary inspiration or just a bit of randomness, this Discord bot has you covered.
            It adds a delightful and interactive dimension to your Discord community.
        </p>
    </section>
    <section id="Weather_App" class="project_headings">
        <a href="https://github.com/Iamhuzaifasabahuddin/Python-Personal-Projects/blob/main/WeatherGUI.py"
           target="_blank">
            <h2 class="project-heading">Weather App</h2>
        </a>
        <p>I've crafted a user-friendly Weather App using Python and the Tkinter library, providing essential features
            for checking the current weather and forecast for the next four days. This application offers a seamless and
            intuitive experience, making it easy for users to stay informed about the weather conditions in their
            location.
            <br/>
            <span class="Head">Key Features:</span>
            <br/>
            <br/>
            - <span>Current Weather</span>: Allows users to instantly view the current weather conditions for their
            selected location.
            - <span>4-Day Forecast</span>: Provides a forecast for the next four days, helping users plan ahead.
            - <span>User-friendly Interface</span>: Designed with <span>Tkinter</span>, ensuring a clean and intuitive
            graphical interface.
            - <span>OpenWeatherMap API</span>: Utilizes the OpenWeatherMap API to fetch accurate and up-to-date weather
            data.
            <br/>
            <br/>
            <span class="Head">Technologies and Tools Used:</span>
            - <span>Python</span>: Leveraging the flexibility of Python for application development.
            - <span>Tkinter</span>: Building an interactive and user-friendly graphical interface.
            - <span>OpenWeatherMap API</span>: Fetching real-time weather data for accurate updates.
            <br/>
            <br/>
            This Weather App serves as a handy tool for users to quickly check the current weather conditions and plan
            for the upcoming days. The integration of the OpenWeatherMap API ensures reliable and accurate weather
            information, making it a valuable asset for daily use.
        </p>
    </section>
    <section id="Dishes_App" class="project_headings scroll-section">
        <a href="#Dishes_App" class="scroll-link">
            <h2 class="project-heading">Dishes App</h2>
        </a>
        <p>I've crafted a delightful Dishes App using Python and Tkinter, designed to make your culinary journey more
            exciting and flavorful. This application leverages the Edamam API to fetch a diverse range of recipes,
            ensuring a rich and varied selection to suit every taste bud.
        <br/>
        <br/>
        <span class="Head">Key Features:</span>
        <br/>
        <span>User-Friendly Interface</span>: The app boasts an intuitive and user-friendly interface created with
        Tkinter, making recipe exploration a breeze.
        <span>Recipe Fetching</span>: Utilizing the Edamam API, the app fetches recipes dynamically, providing a vast
        database of culinary delights.
        <span>Interactive Display</span>: Recipes are presented in a visually appealing and organized manner, allowing
        users to explore ingredients, instructions, and nutritional information.
        <span>Search Functionality</span>: Easily search for recipes based on ingredients, cuisine, or dietary
        preferences, offering a personalized culinary experience.
        <br/>
        <br/>
        <span class="Head">Technologies and Tools Used:</span>
        <br/>
        <span>Python</span>: Harnessing the power of Python for application development.
        <span>Tkinter</span>: Creating a user-friendly graphical interface for seamless navigation.
        <span>Edamam API</span>: Leveraging the API to dynamically fetch diverse recipes.

        Embark on a gastronomic adventure with the Dishes App, where every recipe is a journey and every dish tells a
            story. Explore, cook, and savor the flavors of a world of culinary delights.</p>
    </section>

</main>


</html>

{% endblock %}